*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.derecha{
    display: flex;
    align-items: center;
    gap: 10px;
}

.galeria{
    border: 1px solid;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.todosArticulos{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex: 1 1 50%; 
    /* para que se reparta el espacio entre los hermanos que son flex */
}

.tarjetas{
    width: 227px;
    padding: 10px;
    border: 1px solid;
}

.persona{
    width: 100%;
}

.abajo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cuadroCompleto{
    position: relative;
    padding: 25px 20px;
    display: none;
    border: 1px solid;
    flex: 1 1 50%;
}

.iconoXBuscar{
    position: absolute;
    right: 10px;
    top: 10px;
}

.iconoBuscar{
    padding: 10px;
}