* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    width: 100vw;
    height: 100vh;
    position: fixed; 
    background-color: white;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
}

#div-superior{
    width: 100%;
    height: 50%;
    background-color: rgb(177, 158, 130);
}

#icono{
    margin: 20px;
    font-size: 30px;
}

#derecha{
    display: flex;
    justify-content: end;
}
/* #div-inferior{
    width: 100%;
    height: 50%;
    background-color: red;
} */


.galeria{
    max-width: 660px;
    margin: auto;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
}

.galeria ul{
    display: flex;
    gap: 20px;
    list-style: none;
    height: 10vh;
    align-items: center
}

.tarjetas{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: center;
}

.tarjetas article{
    max-width: 200px;
    border-radius: 10px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tarjetas article img{
    width: 100%;
    object-fit: cover;
}

.color1{
    background-color: #DAF7A6 ;
}

.color2{
    background-color: #FFC300 ;
}

.color3{
    background-color: #FF5733 ;
}
  
img{
    width: 50%;
}

.fas{
    cursor: pointer;
}
