@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

body{
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    /* width: 80%; */
    margin: 10px auto;
    justify-content: space-between;
    /* para que este seoarado de arriba, abajo y de los lados */
    gap: 20px;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.elementos h1 {
    /* margin-right: 50px; */
    font-size: 1.3em;
}

.cuadroBusqueda {
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
}

/* PAra poner la lupa dentro */
.contenedor {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#cuadroFotos {
    background-color: rgb(246, 246, 246);
    width: 120px;
    height: 50px;
    border-right: 2px solid rgb(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.espacio {
    padding-left: 10px;
    font-size: 1.1em;
}

.rotar-45{
    transform: rotate(90deg);
    margin-left: 10px;
}

.miniCuadro{
    position: absolute;
    top: 40px;
    /* width: 120px; */
    padding: 5px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    border: 1px solid black;
    z-index: 999;
    display: none;
}

.miniCuadro.mostrarInBlock {
    display: inline-flex;
    flex-direction: column;
    /*La clase mostrarInBlock no esta en el html la creamos mediante el javascript */
}

.cuadroLupa {
    height: 50px;
    margin-top: 10px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    border-radius: 5px;
    padding-left: 20px;
    flex-grow: 1;
    margin: 0px;
    font-size: 1em;
}

.cuadroLupa:focus {
    outline: none;
}

.contenedorLupa {
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    background-color: rgb(246, 246, 246);
    align-items: center;
    width: 25px;
}

.cuadro {
    position: absolute;
    top: 50px;
    width: 550px;
    display: none;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.condenedorMenuCuadro {
    width: 550px;
    margin-top: 0px;
    border: 1px solid gainsboro;
    border-top: none;
    padding: 20px;
    padding-bottom: 10px;
}

.agrupar {
    display: flex;
    gap: 10px;
    background-color: white;
    margin-top: 20px;
}

.boton {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 10px;
}

.boton img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.elementos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    font-size: 1.1em;
    padding-left: 0;
}

button {
    color: #fff;
    border-color: #05a081;
    background: #05a081;
    padding: 15px;
    border-radius: 5px;
    margin-left: 16px;
    font-size: 1.1em;
}

.idMovil{
    width: 80%;
    /* height: 16vh; */
    position: fixed;
    background-color: #000000;
    color: white;
    display: none;
    z-index: 5;
}

.idMovil.mostrarInBlock {
    display: inline-flex;
    flex-direction: column;
    /* Clase creada en el javascript */
    /* Y ponemos el mostrarInBlock sin espacio porque nos referimos a que le añadimos una clase a ese mismo elemento */
}

.idMovil ul{
    list-style: none;
    text-align: center;
    padding-left: 0;/* el ul tiene un padding por defecto */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.idMovil ul li{
    transition: 0.5s;
}

.idMovil ul li:hover{
    color: #05a081;
}

hr{
    border: 1px solid gray;
    margin: 20px;
}

section {
    width: 90%;
    margin: 10px auto;
}

section h1 {
    margin-top: 100px;
    font-size: 36px;
    text-align: center;
}

section h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 26px;
}

ul.cambioBoton{
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.bntGalery {
    padding: 5px 5px;
    color: black;
    /* border: 1px solid black; */
    list-style: none;
    /* margin-left: 5px; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1.5px solid rgb(215, 214, 214);
    transition: 0.5s;
}

.bntGalery:hover{
    border: 1.5px solid rgb(147, 145, 145);
}

#galeria {
    margin-top: 20px;
    gap: 20px;
    /* width: 90%; */
    max-width: 1000px;
}

.flex{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: center;
}

.container{
    position: relative;
    border-radius: 8px;
    width: 250px;
}

#galeria div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.ocultar{
    display: none;  
    /* Clase creada para el javascript   */
}

.overlay{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    border-radius: 5px;
}

.icoImg-heart{
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 2;
}

.icoImg-bookmark{
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 35px;
    color: white;
    z-index: 2;
}

.icoImg-save{
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    z-index: 2;
}

/* CLASES QUE HEMOS PUESTO PARA EL JAVASCRIPT */
.mostrar {
    display: inline-flex;
}

.rotate-270{
    transform: rotate(270deg);
}

@media(max-width:900px){
    .elementos ul{
        display: none;
    }

    .elementos h1{
        display: none;
    }
}

@media(min-width:900px) {
    #hamburgesa{
        display: none;
    }
    .idMovil.mostrarInBlock {
        display: none;
    }

}