* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.galeria {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.todosArticulos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex: 1 1 60%;
    /* para que se reparta el espacio entre los hermanos que son flex */
}

.tarjetas {
    width: 140px;
    height: 300px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}

.tarjetas:hover {
    background-color: #E1DEDD;
    border-radius: 5px;
}

.zapatos {
    width: 100%;
}

.abajo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

/* VENTANA EXPANDIBLE O DESPLEGLABLE*/
.seleccionado {
    display: none;
    gap: 10px;
    width: 38%;
    height: 100vh;
    border: 1px solid;
    flex: 1 1 40%;
    cursor: pointer;
}

.seleccionadoTarjetas {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

span {
    font-weight: bold;
    font-size: 26px;
    position: absolute;
    top: 10px;
}

.abajoSelecionado {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.descripcion {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

@media screen and (max-width: 1500px) {
    .todosArticulos {
        flex: 1 1 60%;
        justify-content: center;
        /* para que se reparta el espacio entre los hermanos que son flex */
    }

    .tarjetas {
        width: 230px;
        height: 300px;
        cursor: pointer;
    }

    .seleccionado {
        flex: 1 1 40%;
        cursor: pointer;
    }

    .modicarAnchura {
        width: 20%;
        /* Clase de javascript */
    }
}